.info-box {
    background-color: $white;
    height: 80px;
    display: flex;
    cursor: default;    
    position: relative;
    overflow: hidden;

    .icon {
        @extend .align-center;
        display: inline-block;        
        background-color: rgba(0,0,0,0.12);
        width: 80px;

        i {
            @extend .font-30;
            color: $white;
            line-height: 80px;
        }

        .chart.chart-bar {
            height: 100%;
            line-height: 100px;

            canvas {
                vertical-align: baseline !important;
            }
        }

        .chart.chart-pie {
            height: 100%;
            line-height: 123px;

            canvas {
                vertical-align: baseline !important;
            }
        }

        .chart.chart-line {
            height: 100%;
            line-height: 115px;

            canvas {
                vertical-align: baseline !important;
            }
        }
    }

    .content {
        display: inline-block;
        padding: 7px 10px;

        .text {
            @extend .font-13;
            margin-top: 11px;
            color: $grey-800;
        }

        .number {
            @extend .font-26;
            font-weight: $font-weight-400;
            color: $grey-800;
        }
    }
}
.info-box.hover-zoom-effect {
    .icon {
        overflow: hidden;

        i {
            @include transition(all .3s ease);
        }
    }

    &:hover {
        .icon {
            i {
                opacity: 0.4;
                @include transform(rotate(-32deg) scale(1.4));
            }
        }
    }
}
.info-box.hover-expand-effect {
    &:after {
        @include transition(all .95s);
        background-color: rgba($black, 0.05 );
        content: ".";
        position: absolute;
        left: 80px;
        top: 0;
        width: 0;
        height: 100%;
        color: transparent;        
    }

    &:hover {
        &:after {
            width: 100%;
        }
    }
}
.info-box-2 {
    background-color: $white;
    height: 80px;
    display: flex;
    cursor: default;    
    position: relative;
    overflow: hidden;

    .icon {
        @extend .align-center;
        display: inline-block;        
        width: 80px;

        i {
            @extend .font-30;
            color: $white;
            line-height: 80px;
        }
    }

    .chart.chart-bar {
        height: 100%;
        line-height: 105px;

        canvas {
            vertical-align: baseline !important;
        }
    }

    .chart.chart-pie {
        height: 100%;
        line-height: 123px;

        canvas {
            vertical-align: baseline !important;
        }
    }

    .chart.chart-line {
        height: 100%;
        line-height: 115px;

        canvas {
            vertical-align: baseline !important;
        }
    }

    .content {
        display: inline-block;
        padding: 7px 10px;

        .text {
            @extend .font-13;
            margin-top: 11px;
            color: $grey-800;
        }

        .number {
            @extend .font-26;
            font-weight: $font-weight-400;
            color: $grey-800;
        }
    }
}
.info-box-2.hover-zoom-effect {
    .icon {
        overflow: hidden;

        i {
            @include transition(all .3s ease);
        }
    }

    &:hover {
        .icon {
            i {
                opacity: 0.4;
                @include transform(rotate(-32deg) scale(1.4));
            }
        }
    }
}
.info-box-2.hover-expand-effect {
    &:after {
        @include transition(all .95s);
        background-color: rgba($black, 0.05 );
        content: ".";
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        color: transparent;        
    }

    &:hover {
        &:after {
            width: 100%;
        }
    }
}
.info-box-3 {
    background-color: $white;
    height: 80px;
    display: flex;
    cursor: default;    
    position: relative;
    overflow: hidden;

    .icon {
        position: absolute;
        right: 10px;
        bottom: 2px;
        @extend .align-center;

        i {
            @extend .font-30;
            color: rgba(0,0,0,0.15);
        }
    }

    .chart {
        margin-right: 5px;
    }

    .chart.chart-bar {
        height: 100%;
        line-height: 50px;

        canvas {
            vertical-align: baseline !important;
        }
    }

    .chart.chart-pie {
        height: 100%;
        line-height: 34px;

        canvas {
            vertical-align: baseline !important;
        }
    }

    .chart.chart-line {
        height: 100%;
        line-height: 40px;

        canvas {
            vertical-align: baseline !important;
        }
    }

    .content {
        display: inline-block;
        padding: 7px 16px;

        .text {
            @extend .font-13;
            margin-top: 11px;
            color: $grey-800;
        }

        .number {
            @extend .font-26;
            font-weight: $font-weight-400;
            color: $grey-800;
        }
    }
}
.info-box-3.hover-zoom-effect {
    .icon {
        i {
            @include transition(all .3s ease);
        }
    }

    &:hover {
        .icon {
            i {
                opacity: 0.4;
                @include transform(rotate(-32deg) scale(1.4));
            }
        }
    }
}
.info-box-3.hover-expand-effect {
    &:after {
        @include transition(all .95s);
        background-color: rgba($black, 0.05 );
        content: ".";
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        color: transparent;        
    }

    &:hover {
        &:after {
            width: 100%;
        }
    }
}
.info-box-4 {
    background-color: $white;
    height: 80px;
    display: flex;
    cursor: default;    
    position: relative;
    overflow: hidden;

    .icon {
        position: absolute;
        right: 10px;
        bottom: 2px;
        @extend .align-center;

        i {
            @extend .font-30;
            color: rgba(0,0,0,0.15);
        }
    }

    .chart {
        margin-right: 5px;
    }

    .chart.chart-bar {
        height: 100%;
        line-height: 50px;

        canvas {
            vertical-align: baseline !important;
        }
    }

    .chart.chart-pie {
        height: 100%;
        line-height: 34px;

        canvas {
            vertical-align: baseline !important;
        }
    }

    .chart.chart-line {
        height: 100%;
        line-height: 40px;

        canvas {
            vertical-align: baseline !important;
        }
    }

    .content {
        display: inline-block;
        padding: 7px 16px;

        .text {
            @extend .font-13;
            margin-top: 11px;
            color: $grey-800;
        }

        .number {
            @extend .font-26;
            font-weight: $font-weight-400;
            color: $grey-800;
        }
    }
}
.info-box-4.hover-zoom-effect {
    .icon {
        i {
            @include transition(all .3s ease);
        }
    }

    &:hover {
        .icon {
            i {
                opacity: 0.4;
                @include transform(rotate(-32deg) scale(1.4));
            }
        }
    }
}
.info-box-4.hover-expand-effect {
    &:after {
        @include transition(all .95s);
        background-color: rgba($black, 0.05 );
        content: ".";
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        color: transparent;        
    }

    &:hover {
        &:after {
            width: 100%;
        }
    }
}
