/* 日曜日 */

.fc-sun {
    background-color: #fff0f0;
}

/* 土曜日 */

.fc-sat {
    background-color: #f0f0ff;
}

/* 祝日 */

.fc-holiday {
    background-color: #fff0f0;
}

.fc-past {
    background-color: #d7d7d7;
    opacity: .3;
}

.fc-event-container {
    cursor: pointer;
}

.event_list {
    cursor: pointer;
}

.page-calendar .b-yellow {
    border-color: #ffe77a !important;
}

.radio-button label {
    min-width: 50px;
}

html {
    overflow: scroll;
}

#defaultModal {
    overflow: hidden;
}

.modal-open {
    padding-right: 0px !important;
}
